### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total number of schools
total_number_schools = len(school_data["School ID"].unique())
total_number_schools

15

In [5]:
# Total number of students 
total_number_students = len(school_data_complete["Student ID"].unique())
total_number_students

39170

In [89]:
# Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [97]:
student_data["#passing_math"] = student_data["math_score"] >= 70
math_passing_rate = ((student_data["#passing_math"]).mean())*100
math_passing_rate

74.9808526933878

In [98]:
# Reading passing rate (70 or greater)
student_data["#passing_reading"] = student_data["reading_score"] >= 70
reading_passing_rate = ((student_data["#passing_reading"]).mean())*100
reading_passing_rate

85.80546336482001

In [40]:
# Overall passing percentage (reading and math combined)
overall_passing = ((average_math_score + average_reading_score)/2)
overall_passing

80.43160582078121

In [99]:
# Create summary for above
district_summary = [{"Total Schools": total_number_schools, 
            "Total Students": total_number_students, 
            "Total Budget": total_budget, 
            "Average Math Score":  round(average_math_score,2), 
            "Average Reading Score":  round(average_reading_score,2), 
           "% Passing Math": round(math_passing_rate,2),
           "% Passing Reading": round(reading_passing_rate,2),
            "% Overall Passing Rate": round(overall_passing,2)}]
district_summary_table = pd.DataFrame(district_summary)

district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [19]:
# Create school summary table 
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [105]:
#group by school 
school_group = school_data_complete.groupby(["school_name"]).mean()
school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Passing Math"] = round(school_group["passing_math"]*100,2)
school_group["% Passing Reading"] = round(school_group["passing_reading"]*100,2)
school_group["% Overall Passing Rate"] = round(((school_group["passing_math"] + school_group["passing_reading"])/2)*100,3)

#Merge with school_data to collect information about the type, size and budget
school_data_complete = pd.merge(school_group, school_data, how="left", on=["school_name", "school_name"])
del school_data_complete['size']
del school_data_complete['budget']
del school_data_complete['Student ID']
del school_data_complete['School ID']

#Create a dataframe to store the results
school_summary_dataframe = pd.DataFrame({"School Name":  school_data_complete["school_name"],
                                "School Type": school_data_complete["type"],
                               "Total Students":school_data_complete["size"],
                               "Total School Budget": school_data_complete["budget"],
                               "Per Student Budget":school_data_complete["Per Student Budget"], 
                               "Average Math Score":round(school_data_complete["math_score"],2),
                               "Average Reading Score":round(school_data_complete["reading_score"],2), 
                               "% Passing Math": school_data_complete["% Passing Math"],
                               "% Passing Reading": school_data_complete["% Passing Reading"],
                               "% Overall Passing Rate": school_data_complete["% Overall Passing Rate"]}) 

school_summary_dataframe

KeyError: 'budget'

In [87]:
# Calculate Avg Math & Reading Scores
new_school_summary ['total_avg_score']  = school_data_complete.groupby(["school_name"])['reading_score', 'math_score'].mean()

<ipython-input-87-809e3a510b1f>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_school_summary ['total_avg_score']  = school_data_complete.groupby(["school_name"])['reading_score', 'math_score'].mean()

NameError: name 'new_school_summary' is not defined

In [83]:
# Students by school 
new_school_summary ['total_students'] = school_data_complete.groupby(["school_name"])["Student ID"].sum()

school_name
Bailey High School       101303896
Cabrera High School       31477307
Figueroa High School      12949059
Ford High School          99055935
Griffin High School       19077394
Hernandez High School     46090440
Holden High School         9846620
Huang High School          4252986
Johnson High School      154327815
Pena High School          22851829
Rodriguez High School    112111965
Shelton High School       11879706
Thomas High School        62705520
Wilson High School        33950493
Wright High School        45243900
Name: Student ID, dtype: int64

In [81]:
# Calculate total budget per student by school 
Budget_per_student = school_data_complete.groupby(["school_name"])['budget'].sum()/['size']
Budget_per_student

AttributeError: 'list' object has no attribute 'sum'

In [78]:
# Calculate total budget by school 
new_school_summary ['school_budget'] = school_data_complete.groupby(["school_name"])['budget'].sum()

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [106]:
# Sort data 
top_five_schools = school_summary_dataframe.sort_values(["% Overall Passing Rate"], ascending=False)
top_five_schools.head()

NameError: name 'school_summary_dataframe' is not defined

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
# sort data again
worst_five = pd.school_data_complete(df.sort_values)(["% Overall Passing Rate"], ascending=True)
worst_five

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [111]:
# Series for each grade 
# Average for each grade
ninth_grade_math = [school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_grade_math = [school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_grade_math = [school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelveth_grade_math = [school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

# Combine
math_scores_grade = pd.DataFrame({"9th Grade: ninth_grade_math", "10th Grade: tenth_grade_math", "11th Grade: eleventh_grade_math", "12th Grade: twelveth_grade_math"})
math_scores_grade

KeyError: 'grade'

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [35]:
# Series for each grade 
ninth_reading = school_data_complete.loc[(school_data_complete)['grade'] == "9th"]
tenth_reading = school_data_complete.loc[(school_data_complete)['grade'] == "10th"]
eleventh_reading = school_data_complete.loc[(school_data_complete)['grade'] == "11th"]
twelveth_reading = school_data_complete.loc[(school_data_complete)['grade'] == "12th"]

# Average for each grade
ninth_grade_reading = ninth_reading.groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading = tenth_reading.groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading = eleventh_reading.groupby(["school_name"])["reading_score"].mean()
twelveth_grade_reading = twelveth_reading.groupby(["school_name"])["reading_score"].mean()

# Combine
reading_scores_grade = pd.DataFrame({"9th Grade: ninth_grade_math", "10th Grade: tenth_grade_math", "11th Grade: eleventh_grade_math", "12th Grade: twelveth_grade_math"})
reading_scores_grade

                                 0
0  12th Grade: twelveth_grade_math
1  11th Grade: eleventh_grade_math
2      9th Grade: ninth_grade_math
3     10th Grade: tenth_grade_math

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [115]:
# spending groups 
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_data_summary["Spending Ranges (Per Student)"] = pd.cut(school_data_summary["Per Student Budget"], spending_bins, labels=group_names)

school_spending_grouped = school_data_summary.groupby("Spending Ranges (Per Student)").mean()

#Remove the unwanted columns as per the sample provided
del school_spending_grouped['size_x']
del school_spending_grouped['budget_x']
del school_spending_grouped['Per Student Budget']
del school_spending_grouped['School ID']
del school_spending_grouped['passing_math']
del school_spending_grouped['passing_reading']

school_spending_grouped

,reading_score,math_score,Per budget student,math_passing,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,,,
<$585,83.933814,83.455399,581.000000,0.934601,93.460000,96.610000,95.035500
$585-615,83.885211,83.599686,604.500000,0.942309,94.230000,95.900000,95.065500
$615-645,81.891436,79.079225,635.166667,0.756682,75.668333,86.106667,80.887500
$645-675,81.027843,76.997210,652.333333,0.661648,66.163333,81.133333,73.649333

## Scores by School Size

* Perform the same operations as above, based on school size.

In [122]:
# sorting groups
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use 4 reasonable bins to group school size. 
school_data_summary["School Size"] = pd.cut(school_data_summary["size_x"], size_bins, labels=group_names)
school_data_summary

#group by size_x
school_size_grouped = school_data_summary.groupby("School Size").mean() 
school_size_grouped

,reading_score,math_score,size_x,budget_x,passing_math,passing_reading,Per budget student,math_passing,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,School ID
School Size,,,,,,,,,,,,,
Small (<1000),83.929843,83.821598,694.500,416972.500,0.935502,0.960994,595.000,0.935502,595.000,93.55000,96.10000,94.8245,8.5
Medium (1000-2000),83.864438,83.374684,1704.400,1029597.200,0.935997,0.967907,605.600,0.935997,605.600,93.59800,96.79000,95.1954,7.2
Large (2000-5000),81.344493,77.746417,3657.375,2333437.125,0.699634,0.827666,635.375,0.699634,635.375,69.96375,82.76625,76.3650,6.5

## Scores by School Type

* Perform the same operations as above, based on school type

In [123]:
school_type_grouped = school_data_summary.groupby("type").mean()
school_type_grouped

,reading_score,math_score,size_x,budget_x,passing_math,passing_reading,Per budget student,math_passing,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,School ID
type,,,,,,,,,,,,,
Charter,83.896421,83.473852,1524.250000,9.126881e+05,0.936208,0.965865,599.500000,0.936208,599.500000,93.620000,96.586250,95.103750,7.250000
District,80.966636,76.956733,3853.714286,2.478275e+06,0.665485,0.807991,643.571429,0.665485,643.571429,66.548571,80.798571,73.673714,6.714286