### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total number of schools
total_number_schools = len(school_data["School ID"].unique())
total_number_schools

15

In [3]:
# Total number of students 
total_number_students = len(school_data_complete["Student ID"].unique())
total_number_students

39170

In [4]:
# Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
student_data["#passing_math"] = student_data["math_score"] >= 70
math_passing_rate = ((student_data["#passing_math"]).mean())*100
math_passing_rate

74.9808526933878

In [8]:
# Reading passing rate (70 or greater)
student_data["#passing_reading"] = student_data["reading_score"] >= 70
reading_passing_rate = ((student_data["#passing_reading"]).mean())*100
reading_passing_rate

85.80546336482001

In [9]:
# Overall passing percentage (reading and math combined)
overall_passing = ((average_math_score + average_reading_score)/2)
overall_passing

80.43160582078121

In [10]:
# Create summary for above
district_summary = [{"Total Schools": total_number_schools, 
            "Total Students": total_number_students, 
            "Total Budget": total_budget, 
            "Average Math Score":  round(average_math_score,2), 
            "Average Reading Score":  round(average_reading_score,2), 
           "% Passing Math": round(math_passing_rate,2),
           "% Passing Reading": round(reading_passing_rate,2),
            "% Overall Passing Rate": round(overall_passing,2)}]
district_summary_table = pd.DataFrame(district_summary)

district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
# Create school summary table 
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [12]:
# Group by school
pycity_overview = school_data_complete.groupby(["school_name"]).mean()
pycity_overview ["Budget per student"] = pycity_overview["budget"]/pycity_overview["size"]
pycity_overview ["% Passing Math"] = round(pycity_overview["passing_math"]*100,2)
pycity_overview ["% Passing Reading"] = round(pycity_overview["passing_reading"]*100,2)
pycity_overview ["% Overall Passing Rate"] = round(((pycity_overview["passing_math"] + pycity_overview["passing_math"] + pycity_overview["passing_reading"])/2)*100,2)

#Combine datas 
pycity_overview = pd.merge(pycity_overview, school_data, how="left", on=["school_name", "school_name"])
del pycity_overview['School ID_x']
del pycity_overview['School ID_y']
del pycity_overview['Student ID']


#Make the dataframe
pycity_overview_df = pd.DataFrame({"School Name":pycity_overview["school_name"],
                                  "School Type":pycity_overview["type"],
                                  "Total Students":pycity_overview["size_x"],
                                  "Total School Budget":pycity_overview["budget_x"],
                                  "Budget per Student":pycity_overview["Budget per student"],
                                  "Average Math Score":round(pycity_overview["math_score"],2),
                                   "Average Reading Score":round(pycity_overview["reading_score"],2),
                                   "% Passing Math": pycity_overview["% Passing Math"],
                                   "% Passing Reading":pycity_overview["% Passing Reading"],
                                   "% Overall Passing Rate":pycity_overview["% Overall Passing Rate"]})

#Formatting
pycity_overview_df["Total Students"] = pycity_overview_df["Total Students"].map("{:,.0f}".format)
pycity_overview_df["Total School Budget"] = pycity_overview_df["Total School Budget"].map("${:,.2f}".format)
pycity_overview_df["Budget per Student"] = pycity_overview_df["Budget per Student"].map("${:,.2f}".format)

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(pycity_overview_df)

# In order to be visualized, a data function must be used...
pycity_overview_df.count().head(10)

              School Name School Type Total Students Total School Budget  \
0      Bailey High School    District          4,976       $3,124,928.00
1     Cabrera High School     Charter          1,858       $1,081,356.00
2    Figueroa High School    District          2,949       $1,884,411.00
3        Ford High School    District          2,739       $1,763,916.00
4     Griffin High School     Charter          1,468         $917,500.00
5   Hernandez High School    District          4,635       $3,022,020.00
6      Holden High School     Charter            427         $248,087.00
7       Huang High School    District          2,917       $1,910,635.00
8     Johnson High School    District          4,761       $3,094,650.00
9        Pena High School     Charter            962         $585,858.00
10  Rodriguez High School    District          3,999       $2,547,363.00
11    Shelton High School     Charter          1,761       $1,056,600.00
12     Thomas High School     Charter          1,635       $1,043,130.00
13     Wilson High School     Charter          2,283       $1,319,574.00
14     Wright High School     Charter          1,800       $1,049,400.00

   Budget per Student  Average Math Score  Average Reading Score  \
0             $628.00               77.05                  81.03
1             $582.00               83.06                  83.98
2             $639.00               76.71                  81.16
3             $644.00               77.10                  80.75
4             $625.00               83.35                  83.82
5             $652.00               77.29                  80.93
6             $581.00               83.80                  83.81
7             $655.00               76.63                  81.18
8             $650.00               77.07                  80.97
9             $609.00               83.84                  84.04
10            $637.00               76.84                  80.74
11            $600.00               83.36                  83.73
12            $638.00               83.42                  83.85
13            $578.00               83.27                  83.99
14            $583.00               83.68                  83.96

    % Passing Math  % Passing Reading  % Overall Passing Rate
0            66.68              81.93                  107.65
1            94.13              97.04                  142.65
2            65.99              80.74                  106.36
3            68.31              79.30                  107.96
4            93.39              97.14                  141.96
5            66.75              80.86                  107.18
6            92.51              96.25                  140.63
7            65.68              81.32                  106.34
8            66.06              81.22                  106.67
9            94.59              95.95                  142.57
10           66.37              80.22                  106.48
11           93.87              95.85                  141.79
12           93.27              97.31                  141.93
13           93.87              96.54                  142.14
14           93.33              96.61                  141.64

School Name               15
School Type               15
Total Students            15
Total School Budget       15
Budget per Student        15
Average Math Score        15
Average Reading Score     15
% Passing Math            15
% Passing Reading         15
% Overall Passing Rate    15
dtype: int64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [13]:
# Sort data 
top_five_schools = pycity_overview_df.sort_values(["% Overall Passing Rate"], ascending=False)
top_five_schools.head()

,School Name,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,142.65
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,142.57
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,142.14
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,141.96
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,141.93

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [14]:
# sort data again
worst_five = pycity_overview_df.sort_values(["% Overall Passing Rate"],ascending=True)
worst_five.head()

,School Name,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,106.34
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,106.36
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,106.48
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,106.67
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,107.18

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
# Series for each grade...Average for each grade grouped by school
ninth_grade = pycity_overview[pycity_overview["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_grade = pycity_overview[pycity_overview["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_grade = pycity_overview[pycity_overview["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelveth_grade = pycity_overview[pycity_overview["grade"] == "12th".groupby("school_name").mean()["math_score"]
                                 
#Putting it together...
math_scores_df = pd.DataFrame({"9th":ninth_grade, "10th":tenth_grade, "11th":eleventh_grade, "12th":twelveth_grade})                               
math_scores_df

SyntaxError: invalid syntax (<ipython-input-24-ad2fd790196c>, line 8)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Series for each grade...Average for each grade grouped by school
ninth_grade = pycity_overview[pycity_overview["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_grade = pycity_overview[pycity_overview["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_grade = pycity_overview[pycity_overview["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelveth_grade = pycity_overview[pycity_overview["grade"]== "12th".groupby("school_name").mean()["reading_score"]
                                 
#Putting it together...
reading_scores_df = pd.DataFrame({"Ninth Grade":ninth_grade, "Tenth Grade":tenth_grade, "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})                               
reading_scores_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [27]:
# spending groups 
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

pycity_overview["Spending Ranges (Per Student)"] = pd.cut(pycity_overview["Budget per Student"], spending_bins, labels=group_names)
pycity_overview

# plz show up
school_spending_grouped = pycity_overview.groupby("Spending Ranges (Per Student)")
school_spending_grouped

KeyError: 'Budget per Student'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [17]:
# sorting groups
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use 4 reasonable bins to group school size. 
pycity_overview["School Size"] = pd.cut(pycity_overview["size_x"], size_bins, labels=group_names)
pycity_overview

#group by size_x
school_size_grouped = pycity_overview.groupby("School Size").mean() 
school_size_grouped

,reading_score,math_score,size_x,budget_x,passing_math,passing_reading,Budget per student,% Passing Math,% Passing Reading,% Overall Passing Rate,size_y,budget_y
School Size,,,,,,,,,,,,
Small (<1000),83.929843,83.821598,694.500,416972.500,0.935502,0.960994,595.000,93.55000,96.10000,141.6000,694.500,416972.500
Medium (1000-2000),83.864438,83.374684,1704.400,1029597.200,0.935997,0.967907,605.600,93.59800,96.79000,141.9940,1704.400,1029597.200
Large (2000-5000),81.344493,77.746417,3657.375,2333437.125,0.699634,0.827666,635.375,69.96375,82.76625,111.3475,3657.375,2333437.125

## Scores by School Type

* Perform the same operations as above, based on school type

In [16]:
school_type_grouped = pycity_overview.groupby("type").mean()
school_type_grouped

,reading_score,math_score,size_x,budget_x,passing_math,passing_reading,Budget per student,% Passing Math,% Passing Reading,% Overall Passing Rate,size_y,budget_y
type,,,,,,,,,,,,
Charter,83.896421,83.473852,1524.250000,9.126881e+05,0.936208,0.965865,599.500000,93.620000,96.586250,141.913750,1524.250000,9.126881e+05
District,80.966636,76.956733,3853.714286,2.478275e+06,0.665485,0.807991,643.571429,66.548571,80.798571,106.948571,3853.714286,2.478275e+06